.flex-container {
    display: flex;
    background-color: Grey;
    
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 0px;
    padding: 10px;
    
    
  }

.main-container {
    display: flex;
    flex-wrap: wrap;
    width:260px;
    height:260px;
    -webkit-box-shadow: -10px -7px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px -7px 5px 0px rgba(0,0,0,0.75);
     box-shadow: -10px -7px 5px 0px rgba(0,0,0,0.75);
	
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
  }

.cell {
    border: 1px dotted;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height:12px;
    font-size: 22px;
    
}

.cellhidden {
    border: 1px dotted;
    display: flex;
    width: 12px;
    height: 12px;
}


.bomb {
    background-image: url("bomb3.png");
    background-repeat: no-repeat;
    background-position: center; 
}

.undiscoveredbomb {
    -webkit-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
}

.undiscoveredbomb:hover {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,1);
    background-image: url("bomb3.png");
    background-repeat: no-repeat;
    background-position: center; 

}


.undiscoveredcellhidden {
    -webkit-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
}

.undiscoveredcellhidden:hover {
    -webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,1);
    border: 1px dotted;
    display: flex;
    width: 12px;
    height: 12px;

}


.undiscoveredcell {
    
    -webkit-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0);
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,1);
    
    
}

.undiscoveredcell:hover {
    
    -webkit-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 2px 1px rgba(0,0,0,0);
    
}







.showhide {
   
    
    padding:8px;
   
    opacity: 0;
}

.showhide:hover {
    
    
    padding:8px;
    
    opacity: 1;
}